# Learn how to set it up here: https://www.mongodb.com/docs/guides/atlas/connection-string/
DATABASE_URL=

# Required for Github Auth
# Get yours here: https://github.com/settings/developers
DEV_GITHUB_CLIENT_ID=
DEV_GITHUB_CLIENT_SECRET=

# Required for Google Auth
# Learn how to set this up here: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Tinybird – required for analytics 
# Get your Tinybird Tokens here: https://www.tinybird.co/docs/concepts/auth-tokens.html
ANALYTICS_TOKEN=

LOCATION_ANALYTICS_TOKEN=

DEVICE_ANALYTICS_TOKEN=
    
NEXT_PUBLIC_DATA_TOKEN=


NODE_ENV="development"

# Generate a random secret here: https://generate-secret.vercel.app/32
NEXTAUTH_JWT_SECRET=
NEXTAUTH_SECRET=

# NextAuth
# Generate a random secret: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://yourdomain.com

# Tinybird (if used)
NEXT_PUBLIC_TINYBIRD_API_KEY=
TINYBIRD_API_URL=

# Iframely
NEXT_PUBLIC_IFRAMELY_API_KEY=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Plausible
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
PLAUSIBLE_API_KEY=
NEXT_PUBLIC_PLAUSIBLE_SCRIPT_URL=
